
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.date {
  font-size: 1rem;
  color: #ececf3;
}

.main {
  padding: 2.5rem 0;
  flex: 1;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.main > div {
  display: inline-flex;
  flex-wrap: wrap;
  max-width: 1200px;
  justify-content: center;
  width: 80%;
}

.header {
  position: relative;
  min-height: 60vh;
  margin-top: -44px;
  margin-bottom: 120px;
  padding: 0 20px 50px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to bottom,rgba(0,30,60,0.4),rgba(40,0,20,0.4));
  overflow: hidden;
}

.post .header {
  margin-bottom: 0;
  margin-top: 0;
}


.headerCover {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: url('/budha.jpg');
  background-repeat: no-repeat;
  transform-origin: 0;
  background-size: cover;
  background-position: 50%;
  filter: blur(1px) brightness(.5) contrast(.5) hue-rotate(240deg);
  opacity: .5;
  z-index: 0;
}

.post .headerCover {
  background-image: none;
}
.headerTitleCover {
  position: relative;
  width: 40vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.post .headerTitleCover {
  width: 70vw;
}
.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aligncenter {
  justify-content: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  background-image: linear-gradient(90.69deg,#88ffea 13.42%,#ff4ecd 42.37%,#1a75ff 103.09%);
  -webkit-background-clip: text;
  color: transparent;
}
.title,
.description {
  text-align: center;
  padding: 4rem 0;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1.5rem 1rem;
  padding: 2rem 1.5rem 5rem 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #494646;
  border-radius: 10px;
  max-width: 300px;
  height: 90%;
  width: 100%;
  background: rgba(255,255,255,0.1);
  /* box-shadow: 10px 10px 20px -10px rgba(255, 255, 255, 0.2); */
  backdrop-filter: blur(10px);
  transition: all .5s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #bcc8d6;
  border-color: #4b6a8e;
  box-shadow: inset 0px -1px 20px 0px;
}

.card .cardTitle {
    margin: 0 0 1rem 0;
    font-size: 28px;
    font-weight: bold;
    color: #aaa;
    line-height: 38px;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 1300px) {
  .main > div {
    max-width: 80vw;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .headerTitleCover div {
    display: none !important;
  }
  .card {
    width: 90%;
    height: 85%;
  }
}
